:root {
  --vw-unit: 1.5vw;
}

body {
    background: #1f223b;
    color: #dbdbd9;
    font-family: sans-serif;
    text-align: center;
    margin-top: calc(40px + var(--vw-unit));
  }
  
  h1 {
    font-size:calc(30px + 3vw);
    margin-bottom: calc(30px + 3vw);
  }
  
  #vector {
    background: linear-gradient(90deg, #1a1c2b, #1c2038);
    border-radius: 0px 0px 1000px 0px;
    height: 700px;
    width: 700px;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  #quoteBody {
    background: none;
    padding: 20px 10px;
    border-radius: 5px;
    line-height: 200%;
    max-width: 700px;
    font-style: italic;
    font-size:calc(17px + var(--vw-unit));
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: calc(20px + var(--vw-unit));;
  }
  
  #quoteAttribution {
    font-size:calc(20px + var(--vw-unit));
    margin-top: calc(40px + var(--vw-unit));
  }
  
  button {
    position: relative;
    display: block;
    margin: 0 auto;
    background: linear-gradient(45deg, #16208a, #46168a);
    color: #dbdbd9;
    font-weight: 900;
    font-size: larger;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
  }
  
  #copy-quote {
    background: none;
    font-weight: normal;
    font-size: medium;
    margin-top: 30px;
    color: #8f8e8c;
    padding: 5px;
  }

  #generate-quote {
    margin-top: calc(50px + 3vw);
  }
  
  #generate-quote:active {
    background: #171d22;
    color: #8f8e8c;
  }
  
  #copy-quote:active {
    background: #8f8e8c;
    color: #1a1b24;
  }
  
  #copied-successfully {
    color: #8f8e8c;
  }